<h1>Events#new</h1>
<%= form_for @event do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :date, "Date(YYYY-MM-DD)"%>
  <%= f.text_field :date, placeholder: "YYYY-MM-DD" %>
  <%= f.submit %>
<% end %>
