<h1>Events#new</h1>
<%= form_for @event do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :date, "Date(YYYY-MM-DD)"%>
    <%= f.text_field :date, placeholder: "YYYY-MM-DD" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <%= f.submit %>
<% end %>
