<h1><%= @event.title %></h1>
<p><b>Date: </b><%= @event.date %></p>
<p><b>Description: </b><%= @event.description %></p>
<h2>Event creator: <%= @event.creator.name %></h2>

<% if @event.attendees.any? %>
<h3>Event attendees:</h3>
<ol>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ol>
<% end %>